div#about.section
  h2.section-header About Me
  p.section-content
    | Hello, my name is <b>Stephen Timko</b> and I am a <b>Web Developer</b> from New Jersey. 
    | Ever since I was a young lad I have always had a passion for technology, and immersive, well designed user experiences.
    | This passion has blossomed into my love for development, tinkering with new technologies, and building ground breaking software.
    | Most recently I have been working at a company called <a href="http://www.cignium.com" target="_blank">Cignium Technologies</a> where I have been collaborating with my team
    | building an enterprise suite of web based applications using <b>Javascript</b>, <b>Coffeescript</b>, <b>HTML5</b>, <b>CSS</b>, <b>Stylus</b>, and <b>Node.js</b>. 
    br 
    br
    |This site is my latest portfolio and also my latest experiment with HTML5 and Node.js.
    |Please feel free to contact me with any questions or comments, and thanks for stopping by!
 

