//- h2.section-header.About About Me
div#about.section
  h2.section-header About Me
  p.section-content
    | Hello, my name is Stephen Timko and I am a web developer from NJ. 
    | Ever since I was a young lad I have always had a passion for technology as well immersive and well designed user experiences.
    | This passion still thrives today and has also blossomed into passions(borderline obsessions) for UI development, tinkering with new technologies, and building ground breaking software.
    | Most recently I have working at a company called Cignium Technologies where I have been working on 
    | building an enterprise suite of web based applications using coffescript/js, HTML, CSS/Stylus, and node.js.

