p#about
  | Welcome, my name is Stephen Timko and I am a web developer from NJ. 
  | My passions reside in UI development, learning new technologies, and building ground breaking software. 
  | I am currently employed at Cignium Technologies where I have been working on 
  | building an enterprise suite of web based applications using js/coffescript, HTML, CSS/Stylus, and node.js.