//- h2.section-header.Contact Contact
#contact.section
	h2.section-header Contact
	form.section-content
		fieldset
			div.field
				label Name
				input(type="text")#name
			div.field			
				label Email
				input(type="text")#email
			div.field
				label Message
				textarea#message
		fieldset
			nav		
				button#send-mail Send
				.email-message