//- h2.section-header.Contact Contact
#contact.section
	h2.section-header Contact
	form.section-content
		fieldset
			div.field
				label Name
				input(type="text")
			div.field			
				label Email
				input(type="text")
			div.field
				label Message
				textarea
		fieldset
			nav		
				button Send