head
  title Stephen Timko Web Devloper & Designer
  link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Didact Gothic:regular")
  link(rel='stylesheet', href='stylesheets/style.css')
  link(rel='stylesheet', href='stylesheets/vendor/font-awesome.min.css')
  link(rel='stylesheet', href='stylesheets/vendor/tipTip.css')
  link(rel='Shortcut Icon', href='/favicon.ico')
  //[if IE]
   script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
  //[endif]

  case environment
    when 'development'
      script(src="javascripts/vendor/jquery-min.js")
      script(src="javascripts/vendor/jquery.transit.js")
      script(src="javascripts/vendor/jquery.tipTip.js")
      script(src="javascripts/vendor/jquery.scrollTo.js")
      script(src="javascripts/main.js")
      script(src="javascripts/email.js")
    when 'production'
      script(src="javascripts/output.min.js")


