head
  title
  link(rel='stylesheet', href='stylesheets/style.css')
  link(rel='stylesheet', href='stylesheets/vendor/font-awesome.min.css')
  script(src="javascripts/jquery-min.js")
  script(src="javascripts/main.js")
