h2.section-header.projects-header Projects
#projects.section
  ul#projects-list
    each project in projects
      li.project
        .mobile-item
          a(href = project.url, target= "_blank")= project.name
        .face.front
          .inner
            img(src= project.image_url)
        .face.back
          .inner
            a.project-name(href= project.url, target= "_blank")= project.name
            i.icon-remove.close
            .technology
              each tech in project.technology
                .tech(class= tech)= tech