#projects
	ul#projects-list
		each project in projects
			li(class='project')
				.face.front
					.inner
						img(src= project.image_url)
						//label= project.description		
				.face.back
					.inner
						i.icon-remove-circle
						label= project.name