.social
	a(class="icon-github-sign", title="Github", href="https://github.com/stimko", target="_blank")
	a(class="icon-linkedin-sign", title="Linkedin", href="http://www.linkedin.com/profile/view?id=61193962", target="_blank")