.social
	a(class="fa fa-github", title="Github", href="https://github.com/stimko", target="_blank")
	a(class="fa fa-linkedin-square", title="Linkedin", href="http://www.linkedin.com/in/stephen-timko-20a5b118", target="_blank")