.social
	a(class="fa fa-github", title="Github", href="https://github.com/stimko", target="_blank")
	a(class="fa fa-linkedin-square", title="Linkedin", href="http://www.linkedin.com/profile/view?id=61193962", target="_blank")