body{position:relative;padding:50px;font:18px "Lucida Grande",Helvetica,Arial,sans-serif}
ul li{list-style-type:none}
#contact{float:left}
#projects{width:100%;float:left;}
#projects #projects-list{min-width:700px;margin:0 auto;}
#projects #projects-list li{width:300px;height:400px;padding:10px;float:left}
a{color:#00b7ff}
