global-reset()

html
body
  overflow auto
  color white
  position relative
  font 18px 'Didact Gothic', serif
  background linear-gradient(top, rgb(0, 62, 87), rgb(31, 39, 43))
  height 100%
  perspective 1600

h1
  color white
  font-size 2.3em
  text-shadow 0px 1px 10px rgba(0,183,255,1)
  &:before
    content ''
    background linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, rgba(255,255,255,0.05) 33.33333333333333%, rgba(255,255,255,0) 100%)
    position absolute
    left 0
    top 0
    width 100%
    height 62px
ul
  li
    list-style-type: none

.social
  padding 4px 7px
  border-bottom 3px solid rgba(255, 255, 255, .37)
  border-left 2px solid rgba(255, 255, 255, .37)
  border-radius 38px
  font-size 1.5em
  float right
  i
    color white
    text-shadow 0px 1px 10px rgba(0,183,255,1)
    padding 5px

#contact
  float left

#about
  float left

#projects
  margin-top 85px
  padding 0 476px
  height 400px
  #projects-list
    width 145px 
    margin 0 auto
    li
      position absolute
      transform-origin 0 275px
      font-size 24px
      transform-style: preserve-3d 
      .face
        position absolute
        backface-visibility hidden
        padding 5px
        width 175px
        height 275px
        border-radius 4px
        box-shadow -25px 7px 40px rgba(0, 183, 255, .2)
        background rgba(255, 255, 255, .5)
        border 3px solid rgba(255, 255, 255, .3)
        .inner
          background white
          width 100%
          height 100%
          border-radius 4px
          & > label
            padding 5px
        &.back
          transform rotateY(180deg)
          .project-name
            padding 5px
            color #0077A7 
            font-size 17px
            display block
            position relative
            &:before
              content ''
              background linear-gradient(left, #CCC, rgba(245,245,245, 0))
              position absolute
              left 0
              bottom -2px
              width 100%
              height 6px
          .close
            color #0077A7
            padding 5px
            float right
            cursor pointer
            font-size 20px
          .technology
            font-size 12px
            padding 5px
            .tech
              color white
              border-radius 4px
              padding 3px
              float left
              margin 5px 5px 0 0
              &.Actionscript
                background red
              &.Php
                background purple
              &.Coffeescript
                background rgb(162, 111, 111)
              &.Javascript
                background #F5CE95
              &.jQuery
                background teal
              &.Flex
                background grey
              &.XML
                background #52E252
              &.HTML5
                background rgb(255, 99, 11)
              &.Stylus
                background #a1bc06
              &.Knockout 
                background rgb(255, 99, 11)
              &.Durandal
                background rgb(189, 0, 0)
              &.Papervision3D
                background #00007C
              &.Robotlegs
                background lighten(red, 20)

        &.front
          cursor pointer  

      img
        border-radius 4px
        width 100%
        height 100%
a 
  text-decoration none
