global-reset()

background-radial-gradient( alignment, type, color1, color2 )
  background -webkit-radial-gradient( alignment, type, color1, color2 )
  background -moz-radial-gradient( alignment, type, color1, color2 )
  background -mz-radial-gradient( alignment, type, color1, color2 )

html
body
  height 100%
  color white
  position relative
  font 18px 'Segoe UI', serif
  background #003457
  perspective 1600
  // padding 15px

body
  overflow-x hidden

.section
  border-radius 4px
  margin-bottom 20px
  background linear-gradient(left, rgba(255,255,255,0.1), rgba(255,255,255,0))

 .content
   overflow-x hidden
   padding 116px 30px 0 30px

.header
  padding 0 40px 10px 10px
  text-shadow 0px 1px 10px rgba(0,183,255,1)
  background linear-gradient(left, #224E6D 74%, rgba(36, 70, 94, 0) 100%)
  //SAVING background linear-gradient(left, rgba(255,255,255,0.1), rgba(255,255,255,0))
  position fixed
  // border-top-left-radius 5px
  // border-left 7px solid rgba(255, 255, 255, 0.16)
  // border-top 5px solid rgba(255,255,255,0.17)
  .position
    font-size 16px

#about
  font-size 20px
  padding 20px 20px 20px 230px

h1
  color white
  font-size 2em

ul
  li
    list-style-type: none

.section-header
  padding 20px
  float:left
  font-size 2em
  text-shadow 0px 1px 10px rgba(0,183,255,1)

.social
  padding 4px 7px
  position fixed
  border-radius 38px
  font-size 1.5em
  right 0
  i
    color white
    text-shadow 0px 1px 10px rgba(0,183,255,1)
    padding 5px

#projects
  padding 105px 400px 0 400px
  height 400px
  &.expanded
    padding-left 600px
    padding-right 600px
  #projects-list
    width 145px 
    margin 0 auto
    li
      position absolute
      transform-origin 0 275px
      font-size 24px
      transform-style: preserve-3d 
      .face
        position absolute
        backface-visibility hidden
        padding 5px
        width 195px
        height 295px
        border-radius 4px
        box-shadow -11px 10px 31px rgba(255, 255, 255, 0.13)
        background rgba(255, 255, 255, .5)
        border 3px solid rgba(255, 255, 255, .3)
        .inner
          background white
          width 100%
          height 100%
          border-radius 4px
          & > label
            padding 5px
        &.back
          transform rotateY(180deg)
          .project-name
            padding 5px
            color #003457 
            font-size 20px
            display block
            position relative
            width 164px
            &:hover
              text-decoration underline
            &::before
              content ''
              background linear-gradient(left, #CCC, rgba(245,245,245, 0))
              position absolute
              left 0
              bottom -2px
              width 100%
              height 4px
          .close
            color #003457 
            padding 5px
            position absolute
            top 5px
            right 5px
            cursor pointer
            font-size 20px
          .technology
            font-size 14px
            padding 5px
            .tech
              color white
              border-radius 4px
              padding 3px
              float left
              margin 5px 5px 0 0
              &.Actionscript
                background red
              &.Php
                background purple
              &.Coffeescript
                background rgb(162, 111, 111)
              &.Javascript
                background #F5CE95
              &.jQuery
                background teal
              &.Flex
                background grey
              &.XML
                background #259125
              &.HTML5
                background rgb(255, 99, 11)
              &.Stylus
                background #a1bc06
              &.Knockout 
                background rgb(255, 99, 11)
              &.Durandal
                background rgb(189, 0, 0)
              &.Papervision3D
                background #00007C
              &.Robotlegs
                background lighten(red, 20)

        &.front
          cursor pointer  

      img
        border-radius 4px
        width 100%
        height 100%
a 
  text-decoration none


