*
  box-sizing border-box
body
  color black
  position relative
  font 18px 'Didact Gothic', serif
  background-color white

ul
  li
    list-style-type: none

#contact
  float left

#about
  float left


#projects-list
  max-width 1170px
  margin 0 auto
  li
    display inline-block
    margin 30px 30px 30px
    font-size 24px
    background rgba(255, 255, 255, .5)
    border-radius 3px
    width 300px
    height 300px
    box-shadow -11px 13px 20px rgba(65,65,65,0.17)
    position relative
    perspective: 1700px;
    perspective-origin: 0 50%;
    .inner
      transform-style preserve-3d
      position relative
      height:100%
    &:hover
      .left
        transition transform 0.4s, opacity 0.1s
        transform rotateY(-80deg)
        opacity 1
      .right
        opacity 1
        transform rotateY(70deg)
        transition transform 0.4s, opacity 0.1s


    .left
      display block
      position absolute
      top 0
      left 0
      background grey
      width 50%
      height 100%
      backface-visibility hidden
      transform-origin 0 150px
      transform rotateY(0deg)
      transition transform 0.4s, opacity 0.1s 0.3s

    .right
      display block
      position absolute
      left 50%
      top 0
      background grey
      width 50%
      height 100%
      backface-visibility hidden
      transform-origin 150px 0
      transform rotateY(0deg)
      transition transform 0.4s, opacity 0.1s 0.3s

    img
      width 100%
      height 100%
      background whitesmoke
    label
      color rgba(0,147,112, 1)
      position absolute
      bottom 0
      font-smoothing: antialiased
a 
  color #00B7FF

/*
@css {
  body{
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .06) 1px, transparent 15px), linear-gradient(0, rgba(0, 0, 0, .06) 1px, transparent 1px)
  }

}*/
